@model News_Website.Models.Quiz
@{ 
    Layout = null;
}
<div class="row">
    <div class="col"><h3>Questions</h3></div>
    <div class="col-auto"><button type="button" class='btn btn-primary edit-question'>Add New <i class="fas fa-plus"></i></button></div>
</div>
@if (Model?.Questions?.Count() > 0)
{
<ul id="sortable-list" class="row">
    @foreach (var item in Model.Questions?.OrderBy(x => x.Order))
    {
        <li class="col-12 mt-4 mb-4" style="list-style: none;" data-id="@item.Id">

            <div class="p-4 mt-4 mb-4 h-100 bg-light border-light rounded">
                <div class="row">
                    <div class="col">
                        <h3>@(item.Order + 1).</h3>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-light edit-question mr-3" data-id="@item.Id" title="Edit"><i class="fas fa-edit"></i></button>
                        <button type="button" class="btn btn-light delete-question" data-id="@item.Id" title="Delete"><i class="fas fa-times text-danger"></i></button>
                    </div>
                </div>
                <div class="col-12">
                    <h5>@item.Question</h5>
                </div>
            </div>

        </li>
    }
</ul>
}
