@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model News_Website.Models.Admin.SetUserRolesViewModel
<h2>@Model.User.FullName</h2>
<h4>@Model.User.Email</h4>

<form asp-action="EditRoles" class="row" id="edit-article">
    <div class="col-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserId" />
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Viewer" /> @Html.DisplayNameFor(model => model.Viewer)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Editor" /> @Html.DisplayNameFor(model => model.Editor)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Overwriter" /> @Html.DisplayNameFor(model => model.Overwriter)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Publisher" /> @Html.DisplayNameFor(model => model.Publisher)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Admin" /> @Html.DisplayNameFor(model => model.Admin)
            </label>
        </div>
        @if (User.IsInRole("SuperAdmin"))
        {
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="SuperAdmin" /> @Html.DisplayNameFor(model => model.SuperAdmin)
            </label>
        </div>
        }
        <div class="form-group float-right">
            <input type="submit" value="Update" class="btn btn-primary ml-2 mr-2" />

        </div>
    </div>
</form>
